<div class="app-container">
  <!-- Menu Lateral (fixo) -->
  <div class="sidebar">
    <ul>
      <li><a href="javascript:void(0);" (click)="navigateTo('/')">Home</a></li>
      <li><a href="javascript:void(0);" (click)="navigateTo('/product')">Produtos</a></li>
    </ul>
  </div>

  <!-- Área de Conteúdo (onde as páginas serão renderizadas) -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <div *ngIf="spinnerVisible" class="overlay">
    <div class="spinner">
      <p-progressSpinner styleClass="custom-spinner"></p-progressSpinner>
    </div>
  </div>
</div>